<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>LDrawWeb</title>
    <style type='text/css'>
      body { font-family: sans-serif; background-color: #eee; margin: 0; overflow: hidden; }
    </style>
  </head>
  <body>
    <div id="data" style="display: none"
	 {% if model %}data-model="{{ model|escape }}"{% endif %}
	 {% if uri %}data-uri="{{ uri|escape }}"{% endif %}
    ></div>
    <script type="application/dart" src="{{ url_for('static', filename='scripts/main.dart') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/packages/browser/dart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/packages/browser/interop.js') }}"></script>
    <canvas id="mainCanvas"></canvas>
    <div id="progress" style="position: absolute; z-index: 3; overflow:scroll; width: 400px; height: 100%; left: 0px; top: 0;" ></div>
  </body>
</html>
