<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>LDrawWeb</title>
  </head>
  <body>
    <div id='data' style='display: none'
	 {% if uri %}data-uri="{{ uri }}"{% endif %}
	 {% if model %}data-model="{{ model }}"{% endif %}
    />
    <script type="application/dart" src="{{ url_for('static', filename='scripts/main.dart') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/dart.js') }}"></script>				
    <canvas id="mainCanvas" width="1024" height="768" />
  </body>
</html>
