<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>LDrawWeb</title>
    <style type='text/css'>
      body { font-family: sans-serif; background-color: #eee; margin: 0; overflow: hidden; }
    </style>
  </head>
  <body>
    <div id="data" style="display: none"
	 {% if model %}data-model="{{ model|escape }}"{% endif %}
	 {% if uri %}data-uri="{{ uri|escape }}"{% endif %}
    ></div>
    <script type="application/dart" src="{{ url_for('static', filename='scripts/main.dart') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/packages/browser/dart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/packages/browser/interop.js') }}"></script>
    <canvas id="mainCanvas"></canvas>
    <div id="progress" style="position: absolute; z-index: 0; overflow:scroll; width: 400px; height: 100%; left: 0px; top: 0;" ></div>
    <div id="inputbox" style="position: absolute; z-index: 3; width: 800px; height: 50px; left: 450px; top: 20px;"><p><span style="color: red; font-weight: bold;">THIS IS A WORK IN PROGRESS</span></p>
<p>This page features a technical preview of a service I'm currently working on. You can track the development status in <a href='http://github.com/segfault87/LDrawWeb'>GitHub</a>.</p>
<p>Your browser must support WebGL in order to see the content. <a href='http://doesmybrowsersupportwebgl.com/'>Check whether your browser supports WebGL</a>.</p>
<p><form action='/view' method='GET'>
URL to LDraw model file (*.ldr, *.dat, *.mpd): <input name='uri' size='60' value='{{ uri | escape }}' /> <input type='submit' />
</form></p>
</div>
  </body>
</html>
